# Ejemplo de Regresión Lineal (Tipo de Correlación)

Importamos las librerias

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import cm as cm
import math as mt
from math import sqrt as sqrt
from math import pow as pow
import seaborn as sns
import matplotlib.pyplot as plt

Insertamos los datos de los goles de Messi por temporada

In [2]:
table_GM=pd.DataFrame({'Xi':np.arange(1,14),'Yi':[1,8,17,16,38,47,53,73,60,41,58,41,54]})
table_GM

    Xi  Yi
0    1   1
1    2   8
2    3  17
3    4  16
4    5  38
5    6  47
6    7  53
7    8  73
8    9  60
9   10  41
10  11  58
11  12  41
12  13  54

## Obtención de tabla de valores

In [3]:
table_GM['Xi2']=table_GM['Xi']*table_GM['Xi']
table_GM['Yi2']=table_GM['Yi']*table_GM['Yi']
table_GM['XiYi']=table_GM['Xi']*table_GM['Yi']
table_GM

    Xi  Yi  Xi2   Yi2  XiYi
0    1   1    1     1     1
1    2   8    4    64    16
2    3  17    9   289    51
3    4  16   16   256    64
4    5  38   25  1444   190
5    6  47   36  2209   282
6    7  53   49  2809   371
7    8  73   64  5329   584
8    9  60   81  3600   540
9   10  41  100  1681   410
10  11  58  121  3364   638
11  12  41  144  1681   492
12  13  54  169  2916   702

## Sumatoria de columnas

In [4]:
Z_GM=table_GM.sum()
Z_GM

Xi         91
Yi        507
Xi2       819
Yi2     25643
XiYi     4341
dtype: int64

### Cálculo de correlación

In [5]:
n=table_GM.shape[0]
X_Mean=table_GM['Xi'].mean()
Y_Mean=table_GM['Yi'].mean()
Sx=table_GM['Xi'].std(ddof=0)
Sy=table_GM['Yi'].std(ddof=0)
Cov_GM=Z_GM['XiYi']/n-X_Mean*Y_Mean
r=Cov_GM/(Sx*Sy)
print('Media de Xi= {}'.format(X_Mean))
print('Media de Yi= {}'.format(Y_Mean))
print('Desviación estandar de Xi= {}'.format(Sx))
print('Desviación estandar de Yi= {}'.format(Sy))
print('Covarianza de YiXi= {}'.format(Cov_GM))
print('Correlación XiYi= {}'.format(r))

Media de Xi= 7.0
Media de Yi= 39.0
Desviación estandar de Xi= 3.7416573867739413
Desviación estandar de Yi= 21.249434381612645
Covarianza de YiXi= 60.923076923076906
Correlación XiYi= 0.7662499108059556

### Metódo directo

In [6]:
table_GM.corr()['Xi']['Yi']

0.766249910805956

## Regresión lineal

Se elimina la columna del cuadrado de xi y se cambian los nombres de las columnas de xi -> ti y yi -> ti

In [7]:
table_GM.columns = ['ti','xi','ti2','xi2','xiti']
table_GM = table_GM.drop('xi2',axis='columns',inplace=False)
table_GM

    ti  xi  ti2  xiti
0    1   1    1     1
1    2   8    4    16
2    3  17    9    51
3    4  16   16    64
4    5  38   25   190
5    6  47   36   282
6    7  53   49   371
7    8  73   64   584
8    9  60   81   540
9   10  41  100   410
10  11  58  121   638
11  12  41  144   492
12  13  54  169   702

Cálculo de Sumatorias

In [8]:
Z_GM=table_GM.sum()
Z_GM

ti        91
xi       507
ti2      819
xiti    4341
dtype: int64

Cálculo de pendiente b

In [20]:
n=table_GM.shape[0]
b=(n*Z_GM['xiti']-Z_GM['xi']*Z_GM['ti'])/(n*Z_GM['ti2']-pow(Z_GM['ti'],2))
print('b: {}'.format(b))

b: 4.351648351648351

Cálculo de cruce por origen

In [22]:
t_mean = table_GM['ti'].mean()
x_mean = table_GM['xi'].mean()
a = x_mean - b*t_mean
print('a: {}'.format(a))

a: 8.53846153846154

Cálculo de predicción en la temporada 14

Xt=a+bt

In [19]:
X_t=a+b*14
print('Xt: {}'.format(X_t))

Xt: 69.46153846153845